In [2]:
!pip install -r requirements.txt

Requirement already satisfied: pandas==2.2.2 in ./venv/lib/python3.10/site-packages (from -r requirements.txt (line 1)) (2.2.2)
Requirement already satisfied: numpy==2.1.1 in ./venv/lib/python3.10/site-packages (from -r requirements.txt (line 2)) (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in ./venv/lib/python3.10/site-packages (from pandas==2.2.2->-r requirements.txt (line 1)) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./venv/lib/python3.10/site-packages (from pandas==2.2.2->-r requirements.txt (line 1)) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in ./venv/lib/python3.10/site-packages (from pandas==2.2.2->-r requirements.txt (line 1)) (2024.1)
Requirement already satisfied: six>=1.5 in ./venv/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas==2.2.2->-r requirements.txt (line 1)) (1.16.0)

In [3]:
import pandas as pd

In [10]:
nomes = ["Steve", "Bill", "Martin"]
literatura = [8.5, 9, 10]
matematica = [9, 9.5, 7]

In [15]:
df = pd.DataFrame(
    {
        "nome": nomes,
        "literatura": literatura,
        "matematica": matematica,
    }
)

df

     nome  literatura  matematica
0   Steve         8.5         9.0
1    Bill         9.0         9.5
2  Martin        10.0         7.0

In [13]:
df.T

                0     1       2
nome        Steve  Bill  Martin
literatura    8.5   9.0    10.0
matematica    9.0   9.5     7.0

In [17]:
disciplinas_disponiveis = df.columns[1:]

disciplinas_disponiveis

Index(['literatura', 'matematica'], dtype='object')

In [23]:
# Convertendo as colunas do DataFrame
df_discreto = df.melt(id_vars='nome', var_name='disciplina', value_name='nota')

df_discreto = df_discreto.pivot(index='disciplina', columns='nome', values='nota')

print(df_discreto)

nome        Bill  Martin  Steve
disciplina
literatura   9.0    10.0    8.5
matematica   9.5     7.0    9.0

In [20]:
[nome * len(disciplinas_disponiveis) for nome in nomes]

['SteveSteve', 'BillBill', 'MartinMartin']

In [19]:
df_discreto = pd.DataFrame(
  {
    "nome": ,
    "disciplina": [len(nomes)*disciplina for disciplina in disciplinas_disponiveis],
    # "nota": [df.find() for df in disciplinas_disponiveis ]
  }
)

ValueError: All arrays must be of the same length